<div id="double-container">
    <section id="form-area">
        <h1>Create a Task</h1>
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" id="taskForm">

            <h4>Task Title</h4>
            <div class="form-group">
                <input id="title" type="text" formControlName="title" placeholder="Ex: Study Angular">
                <h5 *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="error-message">
                    Title is mandatory.
                </h5>
            </div>

            <h4>Description</h4>
            <div class="form-group">
                <textarea id="description" formControlName="description" rows="3"
                    placeholder="Ex: Study and practice with projects"></textarea>
            </div>

            <h4>Deadline</h4>
            <div class="form-group">
                <input id="deadline" type="date" formControlName="deadline">
                <h5 *ngIf="taskForm.get('deadline')?.invalid && taskForm.get('deadline')?.touched"
                    class="error-message">
                    Deadline is mandatory.
                </h5>
            </div>

            <h4>Urgency</h4>
            <div class="form-group">
                <select id="urgency" formControlName="urgency">
                    <option value="Low">Low</option>
                    <option value="Medium" selected>Medium</option>
                    <option value="High">High</option>
                </select>
            </div>

            <button type="submit" [disabled]="taskForm.invalid">Create Task</button>

        </form>
    </section>
    <section class="cards-section">
        <h1>Registered Tasks</h1>
    </section>
</div>