#form-area{
    background-color: #ffa962;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    font-family: "Oswald", sans-serif;
    color:rgb(12, 11, 14);
}

:host {
    overflow-x: hidden;
}
